<!doctype html>
<html lang='en'>
    <head>
        <meta charset='utf-8'>
            <title> Home - SnoppetBox </title>
    </head>
    <body>
        <header>
            <h1> <a href = "/">SnippetBox</a></h1>
        </header>
        <nav>
            <a href= "/">Home</a>
        </nav>
        <section>
            <h2> Latest Snippets </h2>
            <p>There are nothing to see yet</p>
        </section>
    </body>
</html>